{% from '_macros.html.j2' import external_link, resume_contact %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_base_head.html.j2' %}
</head>
<body>
  <main class="resume-page">
    <header class="resume-header" data-resume-section="basics">
      <h1 class="resume-name">{{ document.basics.full_name | upper }}</h1>
      <div class="resume-contact">{{ resume_contact(document) }}</div>
    </header>
    {% include '_sections.html.j2' %}
  </main>
</body>
</html>